.platen-brand {

  // Make the title logo visible and obvious
  img {
    width: 5em;
    height: 5em;
    padding: 0%;
    margin: 0px;
  }
}

div.platen-menu-content nav>ul:not([class^="platen"]) {
  // margin-bottom: 1em;
  margin-top: 2.5em;
}

ul.columns,
ol.columns {
  -moz-column-count: 2;
  -moz-column-gap: 2rem;
  -moz-column-width: 8em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2rem;
  -webkit-column-width: 8em;
  column-count: 2;
  column-gap: 2rem;
  column-width: 8em;

  &.count-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  &.count-4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

dl.stat-block {
  -moz-column-count: 3;
  -moz-column-gap: 2rem;
  -webkit-column-count: 3;
  -webkit-column-gap: 2rem;
  column-count: 3;
  column-gap: 2rem;
  margin: 0 8rem;

  dd {
    break-before: avoid;
    text-align: center;
    margin-bottom: 0;
  }

  dt {
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
  }
}

sl-card.adg-statblock {
  width: 100%;
  margin-top: 1rem;

  [slot='header'] {
    display: flex;
    justify-content: space-between;
    align-items: center;

    dl {
      display: flex;
      align-items: center;
      margin: 0;

      dt:after {
        content: ":";
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding-right: 0.5rem;
      width: 50%;
    }
  }

  [slot='footer'] {

    dt,
    dd {
      margin: 0;
      padding: 0 1em;
    }

    dt:after {
      content: ":";
    }

    display: flex;
    align-items: left;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
  }
}

.markdown table.sticky {
  width: max-content;
  height: 22rem;
  overflow-x: hidden;
  overflow-y: scroll;
  table-layout: fixed;
  margin: auto;
  @include outline;

  thead {
    width: 100%;
    background: var(--body-background);
    position: sticky;
    inset-block-start: 0;

    /* "top" */
    tr {
      width: 100%;

      th:nth-child(odd) {
        width: 75%;
      }

      th:nth-child(even) {
        width: 25%;
      }
    }
  }

  tbody {
    width: 100%;
  }


  /* Foreground, Background */
  scrollbar-color: #999 #333;

  &::-webkit-scrollbar {
    width: 10px;
    /* Mostly for vertical scrollbars */
    height: 10px;
    /* Mostly for horizontal scrollbars */
  }

  &::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #999;
  }

  &::-webkit-scrollbar-track {
    /* Background */
    background: #333;
  }
}

sl-tooltip.adg-ritual-generator {
  --sl-tooltip-arrow-size: 0;
}